.dropdown,
.dropup {
  position: relative;

  .dropdown-toggle {
    display: block;
  }

  .dropdown-menu {
    @include card(3);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: $dimen-padding-view-xs 0 0;
    font-size: $dimen-text-normal;
    text-align: left;
    list-style: none;
    padding: $dimen-padding-view-xs 0px;

    li {
      width: 100%;
      display: block;

      a {
        padding: 6px $dimen-padding-view-s;
        width: 100%;
        display: block;
      }
    }

    li:not(.divider):hover {
      background-color: rgba(97, 97, 97, 0.1);
    }

    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: rgba($color-gray-dark, 0.15);
    }
  }

  &.open .dropdown-menu {
    display: block;
  }

  &.dropdown-right .dropdown-menu {
    right: 0px;
    left: auto;
  }
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}