$dimen-padding-view-xl: 32px;
$dimen-padding-view-l: 28px;
$dimen-padding-view-m: 20px;
$dimen-padding-view-s: 16px;
$dimen-padding-view-xs: 8px;

// $TEXT
$dimen-text-title-banner: 40px;
$dimen-text-title-big: 32px;

$dimen-text-title: 24px;
$dimen-text-subtitle: 20px;
$dimen-text-normal-big: 18px;
$dimen-text-normal: 14px;

$dimen-text-sub: 13px;

// $HEADER
$dimen-header-height: 64px;

// $SIDEBAR
$dimen-sidebar-width: 212px;

// $CARD
$dimen-card-padding: $dimen-padding-view-m;
$dimen-card-border-radius: 2px;

// $RESPONSIVE
$dimen-min-width-desktop: 840px;


$dimen-width-container: 1024px;